<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Card</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="assets/Garfield.jpg" >
    <ion-card-header>
      <ion-card-subtitle>Francisco</ion-card-subtitle>
      <ion-card-title>Garfield</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Garfield es el nombre de una tira de prensa creada por Jim Davis, 
      que tiene como protagonistas al gato Garfield, al no muy brillante perro Odie, 
      y a su dueño, el ingenuo Jon Arbuckle.
    </ion-card-content>
  </ion-card>
  

</ion-content>
